body{
    font-family: monospace;
    margin: 0;
    background-color: #383C5C;
    color: aliceblue;
}
#lol{
    padding: 5%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #3B4487;
}
#logo{
    width: 15vw;
}
#catalogo{
    float: right;
}
.ele{
    width: 50%;
    height: auto;
    background-color: #3140b0;
    margin: 2%;
}
#negozio{
    margin: 5%;
    display:flex;
}
.neg{
    margin: 2%;
    width: 95%;
    height: auto;
}
#eventi{
    margin: 5%;
    display:flex;
}
#extra{
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    background-color: #30313D;
}
#partners{
    display: flex;
}
.sponsor{
    margin: 2%;
    width: 90%;
    height: auto;
}
h1{
    text-align: center;
    color: black;
}
.imgSpace{
    float: left;
    margin-left: 2%;
}
button{
    margin: 11px;
    width: 150px;
    height: 50px;
}
.imgPagina{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    width: 35%;
    height: 35%;
}
.stileInfo{
    width: 35%;
    height: 35%;
    float: left;
    padding-top: 50px; 
    text-align: justify;
}