body{
    font-family: monospace;
    margin: 0;
    background-color: #383C5C;
    color: black;
}
#lol{
    padding: 5%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #3B4487;
}
#logo{
    width: 10%;
}
#catalogo{
    float: right;
}
.ele{
    width: 50%;
    height: auto;
    background-color: #3140b0;
    margin: 2%;
}
#negozio{
    margin: 5%;
    display:flex;
}
.neg{
    margin: 2%;
    width: 95%;
    height: auto;
}
#eventi{
    margin: 5%;
    display:flex;
}
#extra{
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    background-color: #30313D;
}
#partners{
    display: flex;
}
.sponsor{
    margin: 2%;
    width: 90%;
    height: auto;
}
h1{
    text-align: center;
    color: black;
}